@import "../../styles/mixins.scss";

.App {
  @include borders(#fff, #999);
  padding: 16px;
  background: #c2c2c2;
}

.Header {
  @include borders();
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px 12px;
  background: #c0c0c0;
}

.Body {
  @include borders();
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  background: #c0c0c0;
}

.Face {
  width: 48px;
  height: 48px;
  background: url(./../minesweeper-sprites.png);
  background-position: -1px -46px;
  background-repeat: no-repeat;
  background-size: 545%;
  cursor: pointer;
  &:active {
    background-position: -52px -46px;
  }
}
