@import "../../styles/mixins.scss";

.App {
  @include borders(#fff, #999);
  padding: 16px;
  background: #c2c2c2;
}

.Title {
  @include borders();
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
}

.Header {
  @include borders();
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px 12px;
  background: #c0c0c0;
}

.Body {
  @include borders();
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  background: #c0c0c0;
}

.Face {
  width: 48px;
  height: 48px;
  background: url(./../minesweeper-sprites.png);
  background-repeat: no-repeat;
  background-size: 545%;
  cursor: pointer;
  &.type-0 {
    background-position: -1.4px -46px;
  }
  &.type-1 {
    background-position: -103px -46px;
  }
  &.type-2 {
    background-position: -205px -46px;
  }
  &.type-3 {
    background-position: -155px -46px;
  }
  &:active {
    background-position: -52px -46px;
  }
}
